*{
    margin: 0;
    padding: 0;
}
.logotext{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
    padding-right: 5px;
}
.buttonlogo{
    width: 35px;
    height: 35px;
    background-color: #fff;
    color: #39b6fe;
    border: none;
    border-radius: 50%;
}
.navtop{
    background-color: #39b6fe;
}
.link{
font-family: Arial, Helvetica, sans-serif;
color: #fff;
font-weight: bold;
text-decoration: none;
padding: 15px;
}
.link:hover{
 font-weight: 800px;
}
.linkleft1{
    color: #fff;
    font-weight: bold;
    border: #000;
    text-decoration: none;
    padding: 8px;
    }
    .linkleft2{
        color: #fff;
        font-weight: bold;
        border: #000;
        text-decoration: none;
        padding: 8px;
    
        }
    .buttonleft{
        background-color: #39b6fe;
        color: #fff;
        border: none;
        padding: 8px;
        width: 100%;
        border-radius: 5px;
    }

    @media (max-width: 994px) {
        .buttonlogo{
            display: none;
        }
    }

    @media (max-width: 994px) {
        .alllink{
            justify-items: center;
        }
    }
    
